{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Comic+Relief:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link type="text/css" href="{% static 'pizzashop/css/post.css' %}" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
<header>
<navigation>
    <a href="{% url 'home' %}" class="homepage">Главная</a>
    {% for m in menu %}
    {% if not forloop.last %} {% else %}{% endif %}
        <a href="{% url m.url_name %}" class="menu-item">{{m.title}}</a>
    {% endfor %}
    </navigation>
</header>

<main>
    <h1 class="name">{{post.title}}</h1>

    <p class="description">{{post.content|linebreaks}}</p>
</main>
</body>
</html>